@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Color de fondo claro */
  --foreground: #000000; /* Color de texto oscuro */
}

.dark {
  --background: #000000; /* Color de fondo oscuro */
  --foreground: #ffffff; /* Color de texto claro */
}
